%head
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"> -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    %style
        body { margin: 30px; }


%h1 cURLer:

%form{:name => "curl", :id => "curl", :action => "", :method => "post"}
    %fieldset
        %ul
            %li
                %label{:for => "curl_str"} Curl Parameters:
                %br For example: -H "Content-Type: application/json" -X POST --silent http://search.twitter.com/search.json?q=pcnak&lang=en&result_type=recent&rpp=50
                %br
                %textarea{:name => "curl_str", :id => "curl_str", :cols=>132,
               :rows=>20, :class => "field span12"}
        %input{:type => "submit", :value => "Send cURL", :class => "btn btn-primary"}
