%head

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Optional theme -->
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"> -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    %style
        body { margin: 30px; }
        th { padding:10px 10px 10px 10px; }
        td { padding:10px 10px 10px 10px; }


%body
%h2 Segments:

%h3 cURL Response:
%p== #{@output}

%br
